/*
 * Nadun De Silva - All Rights Reserved
 *
 * This source code and its associated files are the
 * confidential and proprietary information of Nadun De Silva.
 * Unauthorized reproduction, distribution, or disclosure
 * in any form, in whole or in part, is strictly prohibited
 * except as explicitly provided under a separate license
 * agreement with Nadun De Silva.
 *
 * Website: https://nadundesilva.com
 *
 * © 2023 Nadun De Silva. All rights reserved.
 */

/*
 * Multi-line Code
 */

figure[data-rehype-pretty-code-figure] {
    margin: 0;
}

code[data-theme],
code[data-theme] * {
    font-family: var(--font-code), monospace;
}

pre > code {
    overflow-x: auto;
    padding: 1rem;
    counter-reset: line;
}

pre > code > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
}

pre > code[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 2rem;
}

pre > code[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 3rem;
}

/*
 * In-line Code
 */

span[data-rehype-pretty-code-figure] > code {
    padding: 0.25rem;
    font-family: var(--font-code), monospace;
}
